h1{
    float: left;
    padding-right: 25%;
    font-family:'Nova Slim', monospace ;
    font-size: 80px;
}
ul{
    float: right;
    font-family: 'Nova Slim', monospace;
}
nav{
    border-style: none;
    padding-right: 10px;
    padding-top: 50px;
    float: right;
    font-family: 'Nova Slim',monospace;

}
nav ul{
    margin:0;
    padding:0;

}
nav li { 
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    text-align:right;
    border-radius: 10px;
   
    
}
nav li a {
    text-decoration:none;
}
nav #a{
    color: #ffe74c;
    border-radius: 10px;
    font-size: 40px;
    background-color:#ffe74c;
    border-style:outset;
    border-color:#ffe74c;
    height: 20px;
    width: 20px;
    margin: 3;
    padding: 10px 5px;
    
    
}
nav #a:hover{
    border-style: inset;
    border-color:#802560;
}
nav #b:hover{
    border-style:inset;
    border-color:#796c17;
}
nav #c:hover{
    border-style: inset;
    border-color:#0e6d70;
}

nav #b{
   background-color: #e958b6;
   font-size: 40px;
   height: 20px;
   width: 20px;
   margin: 3;
   padding: 10px 5px;
   border-style:outset;
   border-color:#e958b6;
}
nav #c{
    background-color: #42f2f7;
    font-size: 40px;
    height: 20px;
    width: 20px;
    margin: 3;
    padding: 10px 5px;
    border-style: outset;
    border-color:#42f2f7;
}
div{
    border-style: solid;
    border-radius: 10px;
   
}
.cards{
   display:flex;
   align-items: flex-end;
   justify-content:space-evenly;
   row-gap: 20px;
   padding-right: 650px;
   padding-top: 200px;

}
img{
    width:  300px;
    height: 400px;
}

 .shonen {
        flex: 2 1 content;
        background-color: #ffe74c;
        border-color:#ffe74c;
        
      }

.shojo {
        flex: 2 1 content;
       background-color: #e958b6;
       border-color:#e958b6;
      }

 .manga {
        flex: 2 1 content;
        background-color:#42f2f7;
        border-color:#42f2f7;
      }
#rando{
   border-style: none;
}
.barrier {
    background-color:lightblue;
}
nav #home{
    background-color: lightblue;
    font-size: 40px;
    height: 20px;
    width: 20px;
    margin: 3;
    padding: 10px 5px;
    border-style: outset;
    border-color: lightblue;

}
p{
    
    justify-content: right;
    font-family: 'Ubuntu',serif;
    padding-top: 400px;
    float:right;

}
img #background{
    float:left;
    padding-right: 500px;
}