h1{
    float: left;
    padding-right: 25%;
    font-family:'Nova Slim', monospace ;
    font-size: 80px;
}
ul{
    float: right;
    font-family: 'Nova Slim', monospace;
}
nav{
    border-style: none;
    padding-right: 10px;
    padding-top: 50px;
    float: right;
    font-family: 'Nova Slim',monospace;

}
nav ul{
    margin:0;
    padding:0;

}
nav li{ 
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    text-align:right;
    border-radius: 10px;
    
}
nav #a{
    color: #ffe74c;
    border-radius: 10px;
    font-size: 40px;
    text-decoration:none;
    
}
nav #a:hover{
    color:#42f2f7
}
nav #a:click{
    background-color:black;
    
}
nav #b:click{
    background-color:black;
}
nav #c:click{
    background-color:black;
}
nav #a{
    background-color:#ffe74c;
}
nav #b{
   background-color: #e958b6;
   font-size: 40px;
   text-decoration:none;
}
nav #c{
    background-color: #42f2f7;
    font-size: 40px;
    text-decoration:none;
}
div{
    border-style: solid;
    border-radius: 10px;
   
}
.cards{
   display:flex;
   align-items: flex-end;
   justify-content:space-evenly;
   row-gap: 20px;
   padding-right: 450px;
   padding-top: 200px;

}
img{
    width:  300px;
    height: 400px;
}

 .shonen {
        flex: 2 1 content;
        background-color: #ffe74c;
        border-color:#ffe74c;
      }

.shojo {
        flex: 2 1 content;
       background-color: #e958b6;
       border-color:#e958b6;
      }

 .manga {
        flex: 2 1 content;
        background-color:#42f2f7;
        border-color:#42f2f7;
      }
#rando{
   border-style: none;
}
.barrier {
    background-color:lightblue;
}
li #home{
    background-color: lightblue;

}